*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

input,select{
  border: solid .1px grey;
  border-radius: .2rem;
  padding:.1rem .5rem;
}

button{
  padding: .3rem 1.5rem;
  border-radius: .2rem;
  color: white;
}
button:focus{
  outline: none;
 }

.bg-color1{
  background-color: #535468
}
.bg-color2{
  background-color: #3454DB
}